*{
    margin: 0;
    font-family: sans-serif;
}
body{
    padding: 40px 40px;
}
section{
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    color: cadetblue;
}

.description 
{
    padding: 15px 0;
}

.form 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

input[type = "url"]
{
    font-size: 30px;
    width: 70%;
}

button{
    font-size: 25px;
    width: 20%;
    border-radius: 5px;
    background-color: rgb(249, 255, 255);
    color: cadetblue;
}

button:hover
{
    background-color: rgb(223, 235, 235);
}

button:focus
{
    transform: scale(0.98);
}

hr 
{
    margin-bottom: 40px;
}

.qrcode{
    display: flex;
    justify-content: center;
}

#qrcode {
    width: 256px;
    height: auto;
    
}

.error 
{
    display: none;
    margin-bottom: 40px;
    color: rgb(248, 82, 82);
    font-size: 40px;
    font-weight: bold;
}

.error-active 
{
    display: block;
}